/*------general styles-----------------------*/
@font-face {
  font-family: "Aleo";
  src: url(../fonts/Aleo-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Josefin Sans";
  src: url(../fonts/JosefinSans-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Josefin Sans";
  src: url(../fonts/JosefinSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Josefin Sans";
  src: url(../fonts/JosefinSans-Bold.ttf);
  font-weight: 700;
}
* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
[class*="__container"] {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
.logo {
  color: #ffffff;
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.17;
}
header,
section {
  padding: 0 20px; /*відступи безпеки для попередження злипання з краєм екрана*/
}
/*------header-----------------------*/
.header {
  width: 100%;
  background-color: #5373fd;
  min-height: 84px;
  position: fixed;
  top: 0;
  left: 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 84px;
}
.header__list {
  display: flex;
  gap: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.header__link {
  color: #ffffff;
  font-family: "Aleo";
  font-size: 14px;
  line-height: 1.43;
}
.hero {
  background-image: url(../Images/HeaderBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
/*------why-----------------------*/
.why {
  width: 100vw;
  background-image: url(../Images/WhyBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.why__container {
  display: flex;
  gap: 10.3%;
}
.why__content {
  width: 49.1%;
  margin: 190px 0;
}
.why__images {
  width: 40.6%;
  margin: 124px 0;
  padding-right: 112px;
  display: flex;
  flex-direction: column;
}
.image:not(:last-child) {
  margin-bottom: 16px;
}
.images__mountains {
  align-self: flex-end;
}
.content__title {
  font-family: "Aleo";
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 24px;
}
.content__text {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.content__text p:not(:last-child) {
  margin-bottom: 44px;
}
.content__text p:last-child {
  margin-bottom: 32px;
}
.content__button {
  width: 213px;
  height: 60px;
  font-family: "Aleo";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
  background: #5373fd;
  background-image: url(../Images/Rectangle-button-bg.svg);
  background-repeat: no-repeat;
  border-width: 0;
  border-style: none;
}
/*-----info------------------------*/
.info {
  background: #333333;
  padding: 123px 105px 60px;
  background-image: url(../Images/Line.svg);
  background-repeat: no-repeat;
  background-position: center 15%;
}
.info__list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.info__item {
  display: flex;
  flex-direction: column;
  flex-basis: 33.3%;
}
.info__text {
  font-family: "Aleo";
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.info__image {
  align-self: center;
  margin-bottom: 20px;
  background-color: #333333;
}
/*-----------------------------*/
@media screen and (max-width: 900px) {
  .info__list {
    flex-direction: column;
  }
}
